{% extends 'base.html' %}

{% block title %}Página de Resultados{% endblock %}

{% block content %}
<div class="jumbotron">
    <img src="{{ url_for('static', filename='img/man-pc-bg.png') }}"  class="d-inline-block align-top" alt="Logo" />
    <div>
        <h2 class="display-4">Gracias por tu tiempo</h2>
        <p class="lead">Esta es el resultado de tu entrevista.</p>
        <p class="lead">Te contactaremos en breve para darte una respuesta.</p>
    </div>
</div>

<table>
    <tr>
        <th>Pregunta</th>
        <th>Respuesta Correcta</th>
    </tr>
    {% for pregunta in resultados %}
    <tr>
        <td>{{ pregunta.pregunta }}</td>
        {% if pregunta.es_correcta %}
        <td class='correct-answer'>
            <span style="color: green;">&#10004;</span> {{ pregunta.respuesta_correcta }}
        </td>
        {% else %}
        <td class='wrong-answer'>
            <span style="color: red;">&#10008;</span> {{ pregunta.respuesta_correcta }}
        </td>
        {% endif %}            
    </tr>
    {% endfor %}
</table>

    <!-- añadir boton volver atrás -->
    <div id='container-button-volver'>
    <a href="/" class="btn btn-outline-primary" id='button-volver'>Volver a Inicio</a>
    </div>
    {% endblock %}