{% extends 'base.html' %}

{% block title %}Página de Resultados{% endblock %}

{% block content %}
<h2 class="text-center" id='results-title'>Resultados</h2>

<table>
    <tr>
        <th>Pregunta</th>
        <th>Respuesta Correcta</th>
    </tr>
    {% for pregunta in resultados %}
    <tr>
        <td>{{ pregunta.pregunta }}</td>
        {% if pregunta.es_correcta %}
        <td class='correct-answer'>
            <span style="color: green;">&#10004;</span> {{ pregunta.respuesta_correcta }}
        </td>
        {% else %}
        <td class='wrong-answer'>
            <span style="color: red;">&#10008;</span> {{ pregunta.respuesta_correcta }}
        </td>
        {% endif %}            
    </tr>
    {% endfor %}
</table>

    <!-- añadir boton volver atrás -->
    <a href="/">Volver a la Entrevista</a>
{% endblock %}