<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Entrevista</title>
</head>
<body>
    <h1>Resultados de la Entrevista</h1>
    <table>
        <tr>
            <th>Pregunta</th>
            <th>Respuesta del Usuario</th>
            <th>Respuesta Correcta</th>
            <th>Resultado</th>
        </tr>
        {% for pregunta in resultados %}
        <tr>
            <td>{{ pregunta.pregunta }}</td>
            <td>{{ pregunta.respuesta_usuario }}</td>
            <td>{{ pregunta.respuesta_correcta }}</td>
            <td>{% if pregunta.es_correcta %} Correcta {% else %} Incorrecta {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- añadir boton volver atrás -->
    <a href="/">Volver a la Entrevista</a>
</body>
</html>
