{% extends 'base.html' %}

{% block title %}Página de Test{% endblock %}

{% block content %}
    <h2 class="text-center" id='test-title'>Prueba de {{ language }}</h2>
    
    <form method="POST" class="form-group" id='language-test-form'>
        {% for preguntas_respuestas in preguntas_y_respuestas %}
            {% for pregunta_respuesta in preguntas_respuestas %}
                <label><p>{{ pregunta_respuesta[1] }}</p></label>
                <input class="form-control" type="text" name="respuesta_{{ pregunta_respuesta[0] }}" maxlength="130">
            {% endfor %}
        {% endfor %}
        
        <div id='button-container'>
        <button class="btn btn-success" type="submit">Enviar</button>
        </div>
    </form>
{% endblock %}
