<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica de Entrevista</title>
</head>

<body>
    <h1>Bienvenido a la práctica de la entrevista de desarrollo web</h1>
    <p>Responderás preguntas sobre HTML, CSS y otros temas relacionados.</p>
    <form method="POST">
        {% for preguntas_respuestas in preguntas_y_respuestas %}
            {% for pregunta_respuesta in preguntas_respuestas %}
                <!-- <p>{{ pregunta_respuesta[0] }} {{ pregunta_respuesta[1] }}</p> -->
                <p>{{ pregunta_respuesta[1] }}</p>
                <input type="text" name="respuesta_{{ pregunta_respuesta[0] }}">
            {% endfor %}
        {% endfor %}
        <br><br>
        <button type="submit">Enviar Respuestas</button>
    </form>
</body>

</html>
