$background-color: #f7f9fa;
$white: #ffffff;
$purple: #8710d8;
$golden: #ffdf00;
$footer: #2d2f31;
$light-blue: rgb(236, 236, 240);

@font-face {
  font-family: 'Jersey 10 Charted';
  src: url('fonts/Jersey10Charted-Regular.ttf') format('truetype'); /* Ruta a la fuente en tu proyecto */
  font-weight: normal;
  font-style: normal;
}


h1 {
  font-family: 'Jersey 10 Charted';
  color: $purple;
  margin-left: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    display: flex;
    flex-direction: column;

    header {
      height: 10%;
      display: flex;
      padding: 10px;
      display: flex;
      align-items: center;
      background-color: $white;
      background-color: $light-blue;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 4);
  

      ul {
        display: flex;
        flex-direction: row !important;
        list-style: none;
        margin-left: auto;
        margin-right: 40px;

        li {
          margin-left: 30px;
          a {
            text-decoration: none;
            color: black;
            font-size: 16px;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      height: 60%;
      background-color: $white;

      .jumbotron {
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: $purple;
        color: $white;

        img {
          width: 8%;
          margin: 0% 2%;
        }
      }

      #container-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .card {
          margin: 2%;
          display: flex;
          align-items: center;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          img {
            width: 40%;
            padding: 3%;
            border-radius: 5px;
  
          }

          .card-body{
            height: 60%;
            background-color: $light-blue;
            padding: 3%;
          }

          button {
            background-color: $golden;
            color: $purple;
            border: none;
            padding: 10px;
            margin: 10px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            transition: transform 0.3s ease;

            &:hover {
              background-color: $purple;
              color: $white;
              transform: scale(1.05);
              cursor: pointer;
            }
          }
        }
      }

      #test-title {
        margin-top: 3%;
      }

      #language-test-form {
        display: flex;
        flex-direction: column;
        margin: 2% 10%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 2%;
        background-color: rgb(190, 190, 190);
        color: black;
        border-radius: 5px;
        transition: transform 0.3s ease;

        h2 {
          margin: 2%;
        }

        label {
          margin: 2px 0;
        }

        input {
          border-radius: 5px;
          height: 40px;
        }

        #button-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 3%;
        }

        button {
          border: none;
          padding: 10px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 5px;
          transition: transform 0.3s ease;
          margin: 10px;
          width: 10%;

          &:hover {
            transform: scale(1.05);
            cursor: pointer;
          }
        }
      }

      table {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 2% 10% 0 10%;

        th,
        td {
          padding: 12px;
          text-align: left;
        }
        tr,
        th {
          background-color: #ddd;
          color: rgb(56, 56, 56);
        }

        tr td:nth-child(1) {
          // Columna Pregunta
          font-weight: bold;
          color: rgb(56, 56, 56);
          background-color: $white;
        }
      }

      table,
      th,
      td {
        align-items: center;
        border: 1px solid #ccc;
      }

      .correct-answer {
        background-color: #d4edda;
        color: #155724;
      }

      .wrong-answer {
        background-color: #f8d7da;
        color: #721c24;
      }

      #container-button-volver {
        display: flex;
        justify-content: center;

        #button-volver {
          background-color: $golden;
          color: $purple;
          border: none;
          padding: 10px;
          margin: 10px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 5px;
          transition: transform 0.3s ease;
          width: 200px;

          &:hover {
            background-color: $purple;
            color: $white;
            transform: scale(1.05);
            cursor: pointer;
          }
        }
      }
    }

    footer {
      height: 40%;
      background-color: $footer;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 16px;

      .icons_footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 10px;

        a {
          margin: 0 10px;
          color: $white;
          text-decoration: none;
          font-size: 2rem;
        }
      }

    }

  }
}
